:root{
    --Main-Color: #ffe800;
    --Main-Font: "Poppins", Helvetica, sans-serif;
    --Interaction-Background: #fff;
    --Grey-Color: #f4f4f4;
    --Grey2-Color: #676767;
    --Black-Color: #000;
    --Grey3-Color: #999;
    --Grey4-Color: #cccccc;
    --color-btn-primary: #f78524;
    --color-btn-primary-dark: #e2681c;
}

html:has(#Menu:checked),
html:has(#Orders:checked),
html:has(#Noti:checked),
html:has(#Buys:checked) {
    overflow: hidden;
}

#Menu, #Orders, #Noti, #Buys, #Modal{
    display: none;
}

.SideBar{
    z-index: 1000;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

.SideBar-Content{
    width: 366px;
    height: 100%;
    transform: translateX(-101%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 5px 5px black;
    display: flex;
    flex-direction: column;
    background-color: var(--Interaction-Background);
    overflow-y: auto;
}

.SideBar .Side-Header img{
    width: 100px;
}

.SideBar .Side-Header{   
    display:flex;
    width: 100%;
    height: 65px;
    background-color: var(--Main-Color);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}

#Close{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius:  50%;
    width: 20px;
    height: 20px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

#Close:hover{
    background-color: var(--Interaction-Background);
    transform: scale(1.06);
}

.Fast-Acces{
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    padding: 0 20px;
}

.SideBar-Menu {
    font-size: 14px;
    width: 100%;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.SideBar-Menu li {
    padding: 12px 20px;
    cursor: pointer;
    position: relative;
}

.SideBar-Menu li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 3px;
    height: 100%;
    width: 5px;
    z-index: 2;
    border-radius: 2px;
}

.SideBar-Menu li:hover::before{
    background-color: var(--color-btn-primary);
}

.SideBar-Menu li:hover {
    background: var(--Grey-Color);
    text-decoration: underline;
}

.Sepair-Menu{
    padding: 14px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.SideBar-Menu li.Bold {
    font-weight: bold;
    cursor: default;
}

.SideBar-Menu li.Bold:hover{
    background: none;
    text-decoration: none;
}

.SideBar-Menu li.Bold:hover::before{
    background: none;
}

.New {
    background: var(--color-btn-primary);
    color: var(--Interaction-Background);
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}

#Menu:checked ~ .SideBar{
    visibility: visible;
    opacity: 1;
}

#Menu:checked ~ .SideBar .SideBar-Content{
    transform: translateX(0);
}

.SideBar-Noti{
    z-index: 1000;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    display: flex;
    justify-content: flex-end;
}

.SideBar-Noti-Content{
    width: 384px;
    height: 100%;
    transform: translateX(101%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 5px 5px black;
    display: flex;
    flex-direction: column;
    background-color: var(--Interaction-Background);
}

.SideBar-Noti .Noti-Header{   
    display:flex;
    width: 100%;
    height: 49px;
    background-color: var(--Interaction-Background);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-bottom: 1px solid var(--Grey-Color);
}

#Tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}

.SideBar-Noti .Noti-Header img{
    width: 20px;
}

#Noti:checked ~ .SideBar-Noti{
    visibility: visible;
    opacity: 1;
}

#Noti:checked ~ .SideBar-Noti .SideBar-Noti-Content{
    transform: translateX(0);
}

.SideBar-Buy{
    z-index: 1000;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    display: flex;
    justify-content: flex-end;
}

.SideBar-Buy-Content{
    width: 384px;
    height: 100%;
    transform: translateX(101%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 5px 5px black;
    display: flex;
    flex-direction: column;
    background-color: var(--Interaction-Background);
}

.SideBar-Buy .Buy-Header{   
    display:flex;
    width: 100%;
    height: 49px;
    background-color: var(--Grey-Color);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    font-weight: bold;
}

#Buys:checked ~ .SideBar-Buy{
    visibility: visible;
    opacity: 1;
}

#Buys:checked ~ .SideBar-Buy .SideBar-Buy-Content{
    transform: translateX(0);
}

.Modal-Background{
    z-index: 1000;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.Modal-Cont{
    display: flex;
    background-color: var(--Interaction-Background);
    border-radius: 7px;
    max-width: 90vw;
    max-height: 80vh;
    padding: 13px;
}

.Modal-Cont img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    box-sizing: border-box;
}

.Close-Modal{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    min-width: 343px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.Close-Modal label{
    background-color: var(--Interaction-Background);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.Close-Modal label:hover{
    transform: scale(1.06);
}

#Modal:not(:checked) ~ .Modal-Background{
    visibility: visible;
    opacity: 1;
}

.Fast-Find{
    top: 0;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    height: 45px;
    background-color: var(--Interaction-Background);
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    margin-top: 61.99px;
    padding: 0 26px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.Fast-1{
    display: flex;
    flex-grow: 1;
    width: 270px;
    gap: 44px;
    align-items: center;
}

.Fast-1 a{
    display: flex;
    text-decoration: none;
    color: var(--Black-Color);
    cursor: pointer;
    font-size: 14px;
}

.Start{
    position: absolute;
    display: flex;
    align-items: center;
    left: 270px;
    height: 100%;
    width: 100vw;
    background-color: var(--Grey4-Color);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.Start a{
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
    margin-left: 25px;
}

.Fast-2{
    display: flex;
    justify-content: flex-end;
    gap: 26px;
    align-items: center;
    z-index: 2;
}

.Fast-2 a{
    display: flex;
    text-decoration: none;
    color: var(--Black-Color);
    cursor: pointer;
    font-size: 14px;
}