:root{
    --Main-Color: #ffe800;
    --Main-Font: "Poppins", Helvetica, sans-serif;
    --Interaction-Background: #fff;
    --Grey-Color: #f4f4f4;
    --Grey2-Color: #676767;
    --Black-Color: #000;
    --Grey3-Color: #999;
    --Grey4-Color: #cccccc;
    --color-btn-primary: #f78524;
    --color-btn-primary-dark: #e2681c;
}

.Carousel{
    display: block;
    width: 100%;
    height: 242px;
    overflow: hidden;
    box-sizing: border-box;
    isolation: isolate;
}

.Slides{
    display: flex;
    width: calc(100% * 5);
    height: 100%;
    animation: Carousel-Infinite 16s infinite cubic-bezier(0.85, 0, 0.15, 1);
    will-change: transform;
}

.Slide{
    height: 100%;
    flex: 0 0 20%; 
    width: 20%;
    overflow: hidden;
}

.Slide a {
    display: block;
    width: 100%;
    height: 100%;
}

.Slide img{
    width: 100%;
    height: 100%;
    display: block;
}

@keyframes Carousel-Infinite{
    0%, 16% { transform: translateX(0%); }     
    20%, 36% { transform: translateX(-20%); }      
    40%, 56% { transform: translateX(-40%); }      
    60%, 76% { transform: translateX(-60%); }      
    80%, 96% { transform: translateX(-80%); }      
    100% { transform: translateX(-80%); }          
}
